.trade-container {
	width: 100%;
	height: 100%;

	.trade {
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		gap: 2rem;

		button {
			margin-bottom: -20px;

			p {
				margin-left: 5px;
				margin-right: 5px;
			}
		}
	}
}

.trade__button {
	margin-top: 3rem;
	width: 60%;
	height: 5rem;
}
