.trade-info {
    width: 90%;
    height: 75%;
    @include background-blur;
    border-radius: 20px;
    
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    align-items: center;
    justify-items: center;

    &__select {
        width: 120px;
        height: 25%;

        background: linear-gradient(135deg, rgba(1, 157, 154, 0.5), rgba(176, 30, 157, 0.5));
        border-radius: 20px;
        color: var(--color-primary-white);
        cursor: pointer;
        border: none;
        padding: 0 1rem;
        margin: 1rem;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        img {
            width: 25px;
            border-radius: 50%;
        }

        svg {
            fill: var(--color-primary-white);
            width: 12px;
            opacity: 0.7;

            transition: all 0.2s ease-in-out;
        }

        &:hover svg {
            transform: rotate(-90deg);
        }
    }

    &__stats {
        height: 100%;
        width: 65%;
        padding: 3rem 0;
		display: flex;

        flex-direction: column;
        align-items: start;
        justify-content: center;
        color: var(--color-primary-white);
        font-size: 1.3rem;

        p {
            width: 100%;
            
            &:not(:last-child){
                margin-bottom: 0.8rem;
            }

            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                display: flex;
                align-items: center;
            }
            
            .progress-bar {
                width: 70px;
                margin-right: 1rem;
            }
        }
    }
}