*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-family: $primary-font;
	box-sizing: border-box;
	font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

:global(body) {
	font-weight: 200;
	line-height: 1.6;
}

::selection {
    background-color: rgba(0, 123, 121, 0.4);
    color: #ffffff;
}

::-moz-selection {
    background-color: rgba(1, 157, 154, 0.4);
    color: #ffffff;
}

body {
	background: #141414;
	background: linear-gradient(62deg, rgba(20, 20, 20, 1) 0%, rgba(53, 23, 61, 1) 100%);

	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container {
	overflow: hidden;
	display: grid;

	grid-template-rows: 8rem 1fr;
	grid-template-columns:
		[full-start] minmax(6rem, 1fr) [center-start] repeat(
			9,
			[col-start] minmax(min-content, 17rem) [col-end]
		)
		[center-end] minmax(6rem, 1fr) [full-end];

	@include respond(phone) {
		grid-template-columns:
			[full-start] 1fr [center-start] repeat(9, [col-start] minmax(min-content, 14rem) [col-end])
			[center-end] 1fr [full-end];
	}
}
