@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/base';
@import 'base/animations';
@import 'base/topography';
@import 'base/utilities';

// COMPONENTS
@import '../components/Wallet/wallet';

@import '../components/Inputs/DecimalInput/decimalInput';
@import '../components/Inputs/UnderlineInput/underlineInput';

@import '../components/Exchange/exchange';
@import '../components/Trade/trade';

@import '../components/TokenList/token-list';

@import '../components/Borrow-Repay/borrow-repay';
@import '../components/Borrow-Repay/Borrow/borrow';
@import '../components/Borrow-Repay/Repay/repay';
@import '../components/Borrow-Repay/BorrowRepayInfo/borrowRepayInfo';

@import '../components/Buttons/AnimateButton/animateButton';
@import '../components/Buttons/GradientButton/gradientButton';

@import '../components/Strategy/Table/table';
@import '../components/Strategy/RowDetails/rowDetails';

@import '../components/Sortable/sortable';

@import '../components/Trade/tradeInfo';

// PAGES
@import '../routes/strategy/strategy';
@import '../routes/borrow/[token]/borrow';
@import '../routes/swap/[from]_[to]/swap';
@import '../routes/trade/[which]/trade';

// LAYOUT
@import 'layout/header';
@import 'layout/footer';

:global(*) {
	font-family: "Arial", sans-serif;
}
