@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/base';
@import 'base/animations';
@import 'base/topography';
@import 'base/utilities';


// COMPONENTS
@import '../components/Wallet/wallet';

@import '../components/Inputs/Input/input';
@import '../components/Inputs/DecimalInput/decimalInput';
@import '../components/Inputs/UnderlineInput/underlineInput';

@import '../components/Exchange/exchange';

@import '../components/TokenList/token-list';

@import '../components/Borrow-Repay/borrow-repay';
@import '../components/Borrow-Repay/Borrow/borrow';
@import '../components/Borrow-Repay/Repay/repay';

@import '../components/Buttons/AnimateButton/animateButton';
@import '../components/Buttons/GradientButton/gradientButton';

@import '../components/Strategy/Table/table';
@import '../components/Strategy/RowDetails/rowDetails';

@import '../components/Sortable/sortable';

// PAGES
@import '../routes/strategy/strategy';
@import '../routes/borrow/[token]/borrow';
@import '../routes/swap/[from]_[to]/swap';


// LAYOUT
@import 'layout/header';