// COLORS
:root {
    --color-primary: #d9c3a9;
    --color-primary-light: #f2dcc2;
    --color-primary-dark-1: #8c877d;
    --color-primary-dark-2: #575958;
    --color-primary-dark-3: #353c40;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    --stats-plus: green;
    --stats-netural: black;
    --stats-minus: red;

    --line: 1px solid var(--color-grey-light-2);
}

// FONTS
$primary-font: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
