.borrow-page {
	height: 100%;
	width: 100%;

	grid-column: center-start / center-end;
	grid-row: 2;

	display: flex;
	justify-content: center;
	align-items: center;

	.borrow-repay-section {
		@include background-blur;
		width: 1000px;
		height: 450px;
		border-radius: 20px;

		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 12rem 1fr;

		.borrow-info-section {
			grid-row: 2;
			grid-column: 1 / 4;

			padding: 0 2rem 2rem 2rem;
		}

		&__select-box {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__select {
			width: 100px;
			height: 17%;
			grid-column: 2;

			background: linear-gradient(135deg, rgba(1, 157, 154, 0.5), rgba(176, 30, 157, 0.5));
			border-radius: 20px;
			color: var(--color-primary-white);
			cursor: pointer;
			border: none;
			padding: 0 1rem;
			margin: 1rem;

			display: flex;
			justify-content: space-evenly;
			align-items: center;

			img {
				width: 25px;
				border-radius: 50%;
			}

			svg {
				fill: var(--color-primary-white);
				width: 12px;
				opacity: 0.7;

				transition: all 0.2s ease-in-out;
			}

			&:hover svg {
				transform: rotate(-90deg);
			}
		}
	}

	.borrow-list-section {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1040;
		overflow-y: auto;

		display: flex;
		justify-content: center;
		align-items: center;

		@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
			-webkit-backdrop-filter: blur(10px);
			backdrop-filter: blur(10px);
			background-color: rgba(rgba(0, 0, 0), 0.3);
		}
	}
}
