.borrow-page {
	height: 80vh;
	width: 100%;

	grid-column: center-start / center-end;
	grid-row: 2;

	display: flex;
	justify-content: center;
	align-items: center;

	.borrow-repay-section {
		@include background-blur;
		width: 1200px;
		height: 450px;
		border-radius: 20px;

		display: grid;
		grid-template-rows: 3rem 1fr;
		grid-template-columns: 1fr 0.7fr 1fr;

		.borrow-info-section {
			grid-row: 2;
			grid-column: 2;

			display: flex;
			justify-content: center;
			align-items: center;
		}

		.borrow-header-section {
			grid-row: 1;
			grid-column: 1 / 4;
			
			display: flex;
			justify-content: center;
			align-items: center;

			p{
				font-size: 3rem;
				color: var(--color-primary-white);
				display: flex;
			}
		}
	}

	.borrow-list-section {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1040;
		overflow-y: auto;

		display: flex;
		justify-content: center;
		align-items: center;

		@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
			-webkit-backdrop-filter: blur(10px);
			backdrop-filter: blur(10px);
			background-color: rgba(rgba(0, 0, 0), 0.3);
		}
	}
}
