.borrow-repay-info {
    height: 80%;
    width: 100%;

    @include background-blur;
    border-radius: 20px;

    display: grid;
    grid-template-rows: 2fr 5fr;

    &__select-box {
        margin-top: 0.7rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__select {
        width: 120px;
        height: 60%;

        background: linear-gradient(135deg, rgba(1, 157, 154, 0.5), rgba(176, 30, 157, 0.5));
        border-radius: 20px;
        color: var(--color-primary-white);
        cursor: pointer;
        border: none;
        padding: 0 1rem;
        margin: 1rem;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        img {
            width: 25px;
            border-radius: 50%;
        }

        svg {
            fill: var(--color-primary-white);
            width: 12px;
            opacity: 0.7;

            transition: all 0.2s ease-in-out;
        }

        &:hover svg {
            transform: rotate(-90deg);
        }
    }

    &__stats {
        margin: 3rem;
        margin-top: 1rem;
        padding: 1rem 0;
		display: flex;

        flex-direction: column;
        align-items: start;
        color: var(--color-primary-white);
        font-size: 1.3rem;

        p {
            width: 100%;
            
            &:not(:last-child){
                margin-bottom: 0.8rem;
            }

            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                display: flex;
                align-items: center;
            }
            
            .progress-bar {
                width: 70px;
                margin-right: 1rem;
            }
        }
    }
}