.strategy-page {
    grid-column: center-start / center-end;
    grid-row: 2;
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1px 1fr;
    padding: 5rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow-y: hidden;
    margin-top: 10rem;
    
    @include background-blur;
    border-bottom: none;

    .filters-section {
        grid-row: 1;

        height: 100%;
        width: 100%;
    }

    .strategy-table-section {
        position: relative;
        grid-row: 2;

        height: 100%;
        width: 100%;
    }
}