.borrow-page {
    height: 100%;
    width: 100%;

    grid-column: center-start / center-end;
    grid-row: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    .borrow-repay-section {
        @include background-blur;
        width: 1000px;
        height: 450px;
        border-radius: 20px;

        display: grid;
        grid-template-rows: 5rem 1fr;
        grid-template-columns: 2fr 2fr;

        .borrow-select-section {
            grid-row: 1;
        }
    }

    .borrow-list-section {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1040;
        overflow-y: auto;

        display: flex;
        justify-content: center;
        align-items: center;
    
        @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            background-color: rgba(rgba(0, 0, 0), .3);
        }
    }
}