.exchange-container {
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 4fr 1fr;
	gap: 2rem;
	align-items: center;
	justify-items: center;

	.exchange {
		width: 90%;
		height: 100%;

		@include background-blur;
		border-radius: 20px;

		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		&__input-box {
			position: relative;
			width: 60%;
		}

		&__replace {
			svg {
				width: 25px;
				transition: transform 0.7s ease-in-out;
				cursor: pointer;
				fill: var(--color-primary-pink);

				&:hover {
					transform: rotate(180deg);
				}
			}
		}

		&__label {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 1.4rem;
			padding: 0 15px;
			color: #ffeaff;
		}

		&__input {
			width: 100%;
			border: 1.6px solid var(--color-primary-green);
			border-radius: 20px;
			backdrop-filter: blur(50px);
			-webkit-backdrop-filter: blur(50px);

			display: grid;
			grid-template-columns: 2fr 1fr;

			.input-box {
				border: none;
				backdrop-filter: blur(0px);
				-webkit-backdrop-filter: blur(0px);
				margin-left: 0.8rem;

				input {
					grid-column: 1;
				}
			}

			&--readonly {
				border: 0.6px solid #00817fb6;
			}
		}

		&__select {
			grid-column: 2;

			background: linear-gradient(135deg, rgba(1, 157, 154, 0.5), rgba(176, 30, 157, 0.5));
			border-radius: 20px;
			color: var(--color-primary-white);
			cursor: pointer;
			margin: 5px;
			border: none;

			display: flex;
			justify-content: space-evenly;
			align-items: center;

			img {
				width: 25px;
				border-radius: 50%;
			}

			svg {
				fill: var(--color-primary-white);
				width: 12px;
				opacity: 0.7;

				transition: all 0.2s ease-in-out;
			}

			&:hover svg {
				transform: rotate(-90deg);
			}
		}
	}

	.exchange__button {
		width: 80%;
		height: 60%;
	}
}
