.exchange {
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-light);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &__input-box {
        position: relative;
        width: 60%;
    }

    &__replace {
        svg {
           width: 25px;
           transition: transform .7s ease-in-out;
           cursor: pointer;
           fill: var(--color-primary-dark-3);

           &:hover {
            transform: rotate(180deg);
           }
        }
    }

    &__label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
        padding: 0 7px;
    }

    &__input {
        width: 100%;
        border: 1px solid var(--color-primary-dark-3);
        background-color: var(--color-primary-light);
        border-radius: 10px;

        display: grid;
        grid-template-columns: 2fr 1fr;

        input {
            grid-column: 1;

            width: 100%;
            padding: 1rem;
            border: none;
            background-color: transparent;
            outline: none;
            font-size: 2rem;
            caret-color: var(--color-primary-dark-1);
            color: var(--color-primary-dark-3);
        }
    }

    &__select {
        grid-column: 2;

        background-color: var(--color-primary);
        border-radius: 10px;
        color: var(--color-primary-light);
        cursor: pointer;
        margin: 5px;
        border: none;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        img {
            width: 25px;
            border-radius: 50%;
        }

        svg {
            fill: var(--color-primary-light);
            width: 12px;
        }
    }
}