.token-list {
	width: 40rem;
	height: 85vh;
	border-radius: 20px;

	@include background-blur;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1.5fr 0.5fr 10fr;
	align-items: center;

	&__search {
		grid-row: 1;

		height: 60px;
		padding: 0 30px;
		margin-top: 1rem;
	}

	&__popular {
		grid-row: 2;
		padding: 0 2rem;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;

		&-item {
			width: 21%;
			height: 3.5rem;
			margin: 0.4rem;
			font-size: 0.5rem;
			font-weight: bold;

			.btn__popular {
				font-size: 1rem;
			}

			img {
				width: 20px;
				height: 20px;
				border-radius: 50%;
			}
		}
	}

	&__box {
		grid-row: 3;

		width: 100%;
		max-width: 100%;

		ul {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			max-height: 560px;
			overflow-x: scroll;
			list-style: none;
			padding: 0;
		}
	}

	&__item {
		padding: 17px;
		cursor: pointer;

		display: flex;
		justify-content: space-around;
		align-items: center;

		img {
			width: 35px;
			height: 35px;
			border-radius: 50%;
		}

		&:hover {
			background: linear-gradient(135deg, rgba(1, 157, 154, 0.3), rgba(176, 30, 157, 0.5));
		}
	}

	&__item-image {
		width: 35px;
	}

	&__item-name {
		margin-right: auto;
		padding: 0 2rem;
		font-size: 1.2rem;
		color: var(--color-primary-white);

		display: flex;
		flex-direction: column;

		&--symbol {
			font-weight: bold;
		}
	}

	&__item-address {
		&--copy {
			width: 1rem;
			padding: 1px 3px;
			background-color: rgba(128, 128, 128, 0.664);
			border-radius: 5px;
		}
	}
}
