.strategy-table {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 6rem 1fr;
	color: var(--color-primary-white);
	font-size: 1.3rem;

	&__header {
		position: relative;

		border-radius: 20px;
		background: linear-gradient(45deg, rgba(1, 157, 154, 0.5), rgba(176, 30, 157, 0.5));
		font-weight: 700;
		border: none;

		display: flex;
		align-items: center;

		&::before {
			content: '';
			width: 100%;
			height: 25%;
			bottom: 0;
			position: absolute;
			border-left: 1px solid rgba(255, 255, 255, 0.1);
			border-right: 1px solid rgba(255, 255, 255, 0.1);
		}
	}

	&__header-item {
		&--strategy {
			flex: 2 1;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&--cell {
			flex: 1 1;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&--arrow {
			flex: 0.5 1;
			width: 30%;
			height: 30%;
		}
	}

	&__row {
		border: 1px solid rgba(255, 255, 255, 0.1);

		height: 9rem;
		box-shadow: none;
		background: none;

		display: flex;
		flex-direction: column;
		align-items: center;
		transition: height 0.6s ease-in-out;

		&:nth-child(2) {
			border-top: none;
		}

		&:not(:last-child) {
			border-bottom: none;
		}

		&.with-details {
			height: 30rem;

			svg {
				transform: rotate(180deg);
			}
		}
	}

	&__strategy-cell {
		display: flex;
		width: 100%;
		padding: 2rem;
		align-items: center;
		justify-content: left;

		&__img-box {
			border-radius: 50%;
			flex: 1 1;
			display: flex;
			align-items: center;

			img {
				border-radius: 50%;
			}

			&--base-token {
				width: 35px;
				height: 35px;
				z-index: 1;
			}

			&--quote-token {
				width: 25px;
				height: 25px;
			}
		}

		&__details {
			flex: 3 1;
			padding: 0 2rem;

			display: flex;
			flex-direction: column;

			&__name {
				font-weight: bold;
			}

			&__strategy-type {
				font-size: 1.2rem;
			}
		}
	}

	&__row-items {
		width: 100%;

		display: flex;
		align-items: center;
		cursor: pointer;
	}

	&__row-item {
		&--strategy {
			flex: 2 1;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 9rem;
		}

		&--cell {
			flex: 1 1;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 9rem;
			padding: 1rem 0;

			display: flex;
			flex-direction: column;
			justify-content: space-evenly;

			p {
				height: 16px;
				font-size: 1.2rem;
			}

			span {
				height: 17px;
				display: flex;
				align-items: center;
			}

			img {
				height: 15px;
				margin-left: 0.5rem;
				border-radius: 50%;
			}
		}

		&--arrow {
			flex: 0.5 1;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 9rem;
		}

        &__with-progress {
            display: flex;
            align-items: center;
            gap: 1rem;

            .progress-bar {
                margin-right: 1rem;
            }
        }
	}
}

@keyframes change-opacity {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
