.borrow-list {
	width: 40rem;
	height: 85vh;
	border-radius: 20px;

	@include background-blur;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1.5fr 10fr;

	&__search {
		grid-row: 1;

		height: 100%;
		padding: 0 30px;

		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__box {
		grid-row: 2;

		width: 100%;
		max-width: 100%;

		ul {
			display: flex;
			flex-direction: column;
			justify-content: start;
			width: 100%;
			height: 100%;
			max-height: 560px;
			overflow-x: scroll;
			list-style: none;
			padding: 0;
		}
	}

	&__item {
		padding: 17px;
		cursor: pointer;

		display: flex;
		justify-content: space-around;
		align-items: center;

		img {
			width: 35px;
			height: 35px;
			border-radius: 50%;
		}

		&:hover {
			background: linear-gradient(135deg, rgba(1, 157, 154, 0.3), rgba(176, 30, 157, 0.5));
		}
	}

	&__item-image {
		display: flex;
	}

	&__item-name {
		margin-right: auto;
		padding: 0 2rem;
		font-size: 1.2rem;
		color: var(--color-primary-white);

		display: flex;
		flex-direction: column;

		&--symbol {
			font-weight: bold;
		}
	}
}
