.trade-token-list {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    &__search {
        display: block;
        padding: 2rem;
    }

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 100%;
        transition: all .2s;
        margin-right: -3.25rem;
        text-transform: uppercase;

        &:focus {
            outline: none;
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__box {
        height: 100%;
        padding: 2rem;
        width: 100%;
    }

    &__table {
        width: 100%;
        border: 1px solid transparent;
        border: none;
    }

    &__head {
        color: var(--color-primary);
    }

    &__row {
        padding: 1rem;
        width: 100%;
        cursor: pointer;

        transition: all .1s ease-in;

        &:hover {
            background-color: var(--color-primary-dark-2);
        }

        &:not(:last-child) {
            border-bottom: .5px solid var(--color-primary-dark-1);
        }
    }

    &__cell {
        &--symbol {
            text-align: left;
            width: 40%;
        }

        &--price {
            text-align: right;
            width: 30%
        }

        &--change {
            text-align: right;
            width: 30%
        }

        &--plus {
            color: var(--stats-plus);
        }

        &--neutral {
            color: var(--stats-neutral);
        }

        &--minus {
            color: var(--stats-minus);
        }
    }
}