.header {
    grid-column: full-start / full-end;
    grid-row: 1;
    display: flex;
    align-items: center;
    padding: 0 4rem;
    height: 80px;

    .nav {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 1.4rem;
        font-weight: bold;

        .logo-box, .wallet-wrapper {
            flex: 1;
            display: flex;
        }

        .wallet-wrapper {
            justify-content: flex-end;
            .wallet-adapter-button {
                width: auto;
            }
        }

        .logo-box {
            padding: 0;
            
            img {
                width: 40px;
                height: 40px;
            }
        }

        &__list {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 2;
        }
    
        &__item {
            display: block; 
    
            &:not(:last-child) {
                margin-right: 5rem;
            }
        }
    
        &__link {
            &:link, &:visited {
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                transition: all .2s;
            }
            &:hover, &:active, &--active {
                color: var(--color-primary-green) !important;
            }
        }
    }
}