.header {
    font-size: 1.4rem;

    grid-column: full-start / full-end;
    grid-row: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav {
        font-size: 1.5rem;
        font-weight: bold;

        display: flex;
        align-items: center;

        .logo-box {
            padding: 0 4rem;
            width: 150px;
            img {
                width: 55px;
                height: 55px;
            }
        }

        &__list {
            list-style: none;
        }
    
        &__item {
            display: inline-block;
    
            &:not(:last-child) {
                margin-right: 4rem;
            }
        }
    
        &__link {
            &:link,
            &:visited {
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                display: inline-block;
                transition: all .2s;
            }
    
            &:hover,
            &:active {
                color: var(--color-primary-green);
            }
        }
    }

    .wallet-wrapper {
        padding-right: 3rem;
    }
}

