.borrow {
	@include background-blur;
	width: 1000px;
	height: 450px;
	border-radius: 20px;

	display: grid;
    grid-template-rows: 5rem 1fr;
	grid-template-columns: 2fr 2fr;

	&__operation {
        grid-row: 2;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__operation-box {
		width: 70%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
	}

	&__label {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 0.5rem;
	}

	&__input {
		width: 100%;
		border: 1px solid var(--color-primary-green);
		border-radius: 20px;
		backdrop-filter: blur(50px);
        padding-left: 1rem;

		display: grid;
		grid-template-columns: 1fr 40px;
        align-items: center;
        align-content: center;

		.input-box {
			border: none;
			backdrop-filter: blur(0px);

			input {
				grid-column: 1;
			}
		}
	}

		img {
			width: 35px;
			border-radius: 50%;
		}

	&__button-box {
		width: 70%;
		height: 4rem;
        margin-top: 3rem;
	}
}
