.underline-input {
    width: 100%;
    background-color: transparent;

    input {
        width: 100%;
        padding: 1rem;
        border: none;
        background-color: transparent;
        outline: none;
        font-size: 1.7rem;
        caret-color: var(--color-primary-white);
        color: var(--color-primary-white);
        border-bottom: 1px solid grey;

        transition: border-bottom 0.5s ease-in-out;

        &:focus {
            border-bottom: 1px solid var(--color-primary-green);
        }
    }
}