.strategy-row-details {
	height: 100%;
	width: 100%;

	display: grid;
	grid-template-columns: 1fr 3fr;

	&__operations {
		display: grid;

		grid-template-columns: 1fr 1fr;
	}

	&__operation {
		padding: 0 3rem;
		padding-bottom: 4rem;

		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	&__operation-box {
		width: 70%;
		padding: 2rem;
	}

    &__label {
		width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.5rem;
    }

	&__input-container {
		width: 100%;
		display: flex;
		height: 5rem;
		align-items: center;
		justify-content: center;
		border: 1px solid var(--color-primary-green);
		background-color: transparent;
		backdrop-filter: blur(50px);
		border-radius: 50px;
		padding: 1rem;

		.input-box {
			border: none;
			backdrop-filter: blur(0);

			&:nth-child(2) {
				background-color: red;
			}
		}
	}

	&__input {
		&--right {
			text-align: right;
		}
	}

	&__info-box {
		width: 100%;
		height: 100%;
		padding: 2rem 3rem;
	}

	&__info {
		height: 100%;

		@include background-blur;
		border-radius: 10px;

        display: flex;
        justify-content: space-around;

        &__col {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
	}

	&__button-box {
		width: 50%;
		height: 20%;
	}

	&__switch {
		display: flex;
        flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&.delay-animation {
		animation: change-opacity 1.5s ease-in-out;
	}
}
