.strategy-row-details {
	height: 100%;
	width: 100%;

	display: grid;
	grid-template-columns: 1fr 3fr;

	&__operations {
		display: grid;

		grid-template-columns: 1fr 1fr;
	}

	&__operation {
		padding: 0 3rem;
		padding-bottom: 4rem;
		padding-top: 1rem;

		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	&__operation-box {
		width: 80%;
		padding: 2rem;
	}

	&__label {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 1.7rem;
		font-size: 1.2rem;

		span {
			cursor: pointer;
		}
	}

	&__tools {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 2rem;
		font-size: 1.2rem;

		&__item {
			// margin-top: 0.5rem;
			display: flex;
			justify-content: space-between;
			width: 25%;

			span {
				display: flex;

				justify-content: space-between;

				background: var(--color-primary-green);
				border-end-end-radius: 20px;
				border-end-start-radius: 20px;
				color: black;
				padding: 0 0.8rem;
				cursor: pointer;
				font-size: 1rem;
			}
		}
	}

	&__input-container {
		width: 100%;
		display: flex;
		height: 5rem;
		align-items: center;
		justify-content: center;
		border: 1px solid var(--color-primary-green);
		background-color: transparent;
		backdrop-filter: blur(50px);
		border-radius: 50px;
		padding: 1rem;

		.input-box {
			border: none;
			backdrop-filter: blur(0);
		}
	}

	&__input {
		&--right {
			text-align: right;
		}
	}

	&__info-box {
		width: 100%;
		height: 100%;
		padding: 2rem 3rem;
	}

	&__info {
		height: 100%;

		@include background-blur;
		border-radius: 10px;

		display: flex;
		justify-content: space-around;

		&__col {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	&__input-center {
		display: flex;
		border-radius: 200px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);

		img {
			width: 25px;
			height: 25px;
			margin: 0.5rem;
			border-radius: 50%;

			&:first-child {
				margin-right: 1.5rem;
			}
		}
	}

	&__button-box {
		width: 50%;
		height: 20%;
	}

	&__switch {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&.delay-animation {
		animation: change-opacity 1.5s ease-in-out;
	}
}
