.gradient-btn {
	position: relative;
	width: 100%;
	height: 100%;

	color: var(--color-primary-white);
	cursor: pointer;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 1.5rem;
	line-height: 48px;
	border-radius: 20px;
	border: none;
	transition: all 5s ease-in-out;

	background: linear-gradient(45deg, rgba(1, 157, 154, 0.5), rgba(176, 30, 157, 0.5));
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

	img {
		max-width: 30px;
	}

	&:disabled {
		background: linear-gradient(45deg, rgba(1, 157, 154, 0.26), rgba(176, 30, 156, 0.267));
		color: gray;
		cursor: not-allowed;
	}

	&:not([disabled]):hover {
		background: linear-gradient(45deg, rgba(1, 157, 154, 0.8), rgba(176, 30, 157, 0.8));
	}
}
