@mixin borrow-repay-box {
    &__operation {
        grid-row: 2;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__operation-box {
		width: 70%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
	}

	&__label {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 4px 1.7rem;
		font-size: 1.2rem;
		color: var(--color-primary-white);

		span {
			cursor: pointer;
		}
	}

	&__input {
		width: 100%;
		border: 1px solid var(--color-primary-green);
		border-radius: 20px;
		backdrop-filter: blur(50px);
		-webkit-backdrop-filter: blur(50px);
        padding-left: 1rem;

		display: grid;
		grid-template-columns: 1fr 40px;
        align-items: center;
        align-content: center;

		.input-box {
			height: 100%;
			border: none;
			backdrop-filter: blur(0);
			-webkit-backdrop-filter: blur(0);
			display: flex;
			align-items: center;

			input {
				grid-column: 1;
			}
		}
	}

		img {
			width: 35px;
			border-radius: 50%;
		}

	&__button-box {
		width: 70%;
		height: 4rem;
        margin-top: 3rem;
	}
}